* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(rgb(116, 255, 46), rgb(0, 202, 24), 
    rgb(50, 133, 20))
}

header nav {
    height: 35px;
}

.mainTitle {
    font-weight: bold;
    font-size: 2.2rem;
    margin-left: 37%;
}

nav ul li {
    display: inline-flex;
    justify-content: space-between, center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.6rem;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.intro-desc, .more-stats {
    background: rgb(255, 162, 111);
    display: flex;
    width: 50%;
    margin: 50px auto;
    border-radius: 20px;
    border: 2px solid black;
}

p {
    font-size: 1.6rem;
}

/* clock for page that updates based on browser time */
#curTime{
    border: 2px solid black;
    margin-left: 40%;
    padding: 8px 10px;
    background: rgb(255, 244, 89);
    border-radius: 15px;
}

.intro-desc p {
    padding: 15px;
    margin: 10px;
    font-weight: bold;
}

.trees-help-us {
    margin-left: 32%;
    height: 35%;
    width: 35%;
    border-radius: 20px;
    border: 2px solid black;
}

.more-stats {
    background: rgb(249, 255, 80);
}

.more-stats p {
    font-weight: bold;
    padding: 15px;
    margin: 10px;
}

.social-links {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

section a {
    text-decoration: none;
    padding: 2px;
    color: #000;
}