* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(180deg, rgb(0, 97, 19), rgb(33, 169, 33),  rgb(99, 255, 21));
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    background:rgb(161, 255, 113);
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
}

h2 {
    margin: 0 auto;
    font-size: 2.5rem; 
}

a {
    font-size: 1.75rem;
}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
    gap: 4em;
}

.min-width {
    max-width: 70%;
    min-width: 40%;
    margin-left: 15%;
}

.card2 {
    height: 95%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 0px 10px 2px black;
}

/* honey-locust image */
.resizing {
    margin-top: 20px;
}

button {
    min-width: 5%;
}

#buttonOne, #buttonTwo, #buttonThree, #buttonFour, #buttonFive {
    margin-left: 23%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    margin-top: 20px;
    background: rgb(30, 204, 41);
}

#buttonOne {
    margin-left: 28%;
}

#buttonTwo {
    margin-left: 25%;
}

#buttonThree {
    margin-left: 31%;
}

#buttonFour, #buttonFive {
    margin-left: 28%;
}
 
#buttonOne:hover, #buttonTwo:hover, #buttonThree:hover, #buttonFour:hover, 
#buttonFive:hover {
    background: rgb(113, 255, 122);
}

.miniChange, .miniChange2, .miniChange3, .miniChange4, .miniChange5 {
    text-align: center;
}

section a {
    color: #000;
    font-size: 1.5em;
}

.backHome {
    text-align: center;
    height: 30px;
}

.backHome a{
    text-decoration: none;
    margin-top: 20px;
}

@media screen and (max-width: 420px) {

    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card2 {
        width: 80%;
    }

    #buttonOne{
        margin-left: 5px;
    }
   #buttonTwo,  #buttonThree,  #buttonFour,  #buttonFive {
        margin-left: 10px;
    } 


    /* .miniChange, .miniChange2 {
        margin-left: 10px;
        font-size: 16px;
    }

    .miniChange3, .miniChange4,  .miniChange5{
        margin-left: 15px;
        font-size: 16px;
    } */

}


@media (min-width: 421px) and (max-width: 799px) {
    .miniChange ,.miniChange2 {
        font-size: 18px;
    }

    
    .miniChange3{
        font-size: 18px;
    }

    .miniChange4,  .miniChange5 {
        font-size: 18px;
    }

    #buttonOne, #buttonTwo,  #buttonThree,  #buttonFour,  #buttonFive {
        margin-left: 10px;
    }
}

@media (min-width: 800px) and (max-width: 1207px) {
    .miniChange ,.miniChange2 {
        margin-left: 80px;
        font-size: 18px;
    }

    
    .miniChange3{
        margin-left: 100px;
        font-size: 18px;
    }

    .miniChange4,  .miniChange5 {
        margin-left: 90px;
        font-size: 18px;
    }

    #buttonOne {
        margin-left: 70px;
        max-width: 50%;
    }
    
    #buttonTwo{
        margin-left: 20px;
    }

    #buttonThree {
        margin-left: 53px;
    }

    #buttonFour,  #buttonFive  {
        margin-left: 40px;
    }
}