* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 30%;
    height: 40%;
}

body {
    background: rgb(255, 66, 66);
}

.container1 {
    display: flex; 
    position: relative;
    justify-content: center;
    min-width: 20%;
}

h1 {
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(rgb(255, 153, 0),
                rgb(255, 22, 22), rgb(255, 247, 0));
}

.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
 }


.centerIt {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background: rgb(150, 59, 254);
    border: 2px solid black;
    width: 50%;
}

span {
    font-weight: bold;
}

ul{
    list-style-type: none;
}